html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
}
#header {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2E2E2E;
    background-size: cover;
    color: white;
    border: bottom;
    border-color: black;
    border-width: 5px;
}

#modal-entries {
    margin-bottom: 10px;
}

#title {
    font-family: 'Architects Daughter', cursive;
    font-size: 80px;
    margin-left: 12%;
    margin-top: 20px;
    margin-bottom: 0;
}
#modalOpen{
    margin-top: 10px;
}
#btnLogOut{
    margin-top: 14px;
}
#social-buttons{
    float: right;
    margin-top: 10px;
}
#head-display{
    height: 0px;
}

#greeting{
    height: 20px;
    padding-left: 0;
}
#clock{
    margin-left: 70px;
}

#error {
    color: red;
}

#profile-box {
    height: 600px;
    position: sticky;
    top: 0px;
    z-index: 100;
    text-align: center;
    background-color: #2E2E2E;
    color: white;
    border-style: : solid;
    border-width: 3px;
    border-color: grey;
}

#profile-picture img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 4px;
    color: #aeea00;
}
#username{
    margin:5px;
}

.body-content {
    margin-top: 20px;
    position: relative;
}

#first-page {
    margin: auto;
}

#section1 {
    height: auto;
}

#section2 {
    height: auto;
    margin-left: 10px;
}

#section3 {
    height: auto;
    margin-left: 10px;
}

#navigation {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.btn{
    margin: 5px;
}

#card {
    background-color: #ffab40;
    height: 600px;
    margin-right: 20px;
    margin-left: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 20px;
    padding: 10px;
}

#thumbnail {
    border-radius: 10px;
}

#favoriteCard {
    background-color: #ffab40;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 20px;
    padding: 10px;
    width: 97%;
    margin-bottom: 10px;
}



#stats {
    height: auto;
    background-color: grey;
    margin-top: 30px;
    margin-left: 0;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 20px;
}

#distanceStat,
#climbedStat {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.favoriteBtn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    height: 30px;
}

.btn-info{
    background-color: #aeea00;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    color: black;
}

#favThumbnail {
    border-radius: 40px;
}

#background {
    background-image: url(../images/project-1-background.jpg);
    background-size: cover;
    position: sticky;
    top: 0px;
    min-height: 800px;
    height: 100%;
    width: auto;
    padding-bottom: 50px;

}

#footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #37474f;
    width: 100%;
    color: white;
}

.trailInfo {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
}


/*TODO scrollspy on profile*/